<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <logging>
    <junit outputFile="./tests/_output/report.xml"/>
  </logging>

<!--  <source>-->
<!--    <include>-->
<!--      <directory suffix=".php">src</directory>-->
<!--    </include>-->
<!--  </source>-->
</phpunit>
